<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
   
    <link rel="stylesheet" href="/Static/Css/Header.css">
    <link rel="stylesheet" href="/Static/Css/Home.css">
    <link rel="stylesheet" href="/Static/Css/WedCategories.css">
    <link rel="stylesheet" href="/Static/Css/VenueCard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script>
        function BlurBackground() {
            var blur = document.getElementById("BLUR");
            blur.setAttribute('class', 'blur');
        }
        function RemoveBlur() {
            var blur = document.getElementById("BLUR");
            blur.setAttribute('class', 'root-container');
        }
        function opensearch(){
            var search = document.getElementById("search");
            search.style.display='block';
        }
        function closesearch(){
            var search = document.getElementById("search");
            search.style.display='none';
        }
    </script>
</head>


<body>

    <header class="HEADER">

        <div class="BRAND">
            <h1><a href="{% url 'home' %}" class="brand-text">Event Planner</a></h1>
        </div>

        <div class="MENU">
            <ul>
                <li id="LI" onmouseover="RemoveBlur()">
                    <a href="{% url 'wedding' %}">Home</a>
                </li>
                <li id="LI" onmouseover="BlurBackground()">
                    <a href="{% url 'venues' %}">Venues</a>

                    <div class="DROPDOWN">
                        <div class="DROPDOWN-DIV1">
                            <p>By Types</p>
                            <div class="a-container">
                                <a href="">5 star</a>
                                <a href="">Garden</a>
                                <a href="">Hotels</a>
                                <a href="">Bancket Hall</a>
                            </div>
                        </div>
                        <div class="DROPDOWN-DIV2">
                            <p>By Places</p>
                            <div>
                                <a href="" >Bhopal</a>
                                <a href="">Indor</a>
                                <a href="">Mumbai</a>
                                <a href="">Pune</a>
                            </div>
                        </div>
                    </div>
                    
                </li>
                <li id="LI" onmouseover="RemoveBlur()">
                    <a href="{% url 'login' %}">Venders</a>
                </li>
                <li id="LI">
                    <a href="{% url 'aboutus' %}">About us</a>
                </li>
                <li id="LI">
                    <a href="">Account</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="{% url 'login' %}">Profile</a></li>

                            {% if user.is_authenticated %}
                            <li><a href="{% url 'login' %}">Order</a></li>
                            <li><a href="{% url 'login' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'login' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="icon_con">

            {% if user.is_authenticated %}
            <div class="icon">
                <a href="{% url 'order' %}">
                    <img src="/Static/icons/product.png" alt="" class="icon-img">
                </a>
            </div>
            {% endif %}

            <div class="icon">
                <a href="{% url 'cart' %}">
                    <img src="/Static/icons/shopping-cart.png" alt="" class="icon-img">
                </a>
            </div>

            <div class="icon">
                <a href="{% url 'login' %}">
                    <img src="/Static/icons/user.png" alt="" class="icon-img">
                </a>
            </div>

            <div class="username">
                {% if user.is_authenticated %}
                Welcome {{user.first_name}}
                {% endif %}
            </div>
        </div>
    </header>

