{% include "Header.html" %}


<div class="venue-card-con">
    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>

    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>

    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>

    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>

    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>

    <div class="venue-card">

        <div class="venue-img-div">
            <img src="/Static/Images/homeimage1.jpg" alt="taj-lakefront" class="img100 venue-img">
        </div>
    
        <div class="place-review">
            <p class="venue-name">Taj Lakefront</p>
    
            <div class="rating-div">
                <img class="star-icon-img" src="/Static/icons/favorite.png" alt="star-rating">
                <p>4.5</p>
                <p class="reviews">  ( 100 reviews)</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="star-icon-img" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>Madhaya Pradesh</p>
            </div>
    
            <div class="type-div">
                <img class="star-icon-img" src="/Static/icons/building.png" alt="property-img">
                <p>4 Star & Above Hotels...</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ 2,900 / plate</p>
            </div>
        </div>
    
        <div class="room-div">
            <p class="room-text">100 , rooms</p>
        </div>
    
    </div>
</div>

{% include "Footer.html" %}